{% props %} 
"href": {{ href | default: '#' | json }}, "event": {{ event | default: 'click' | json }}, "html":
{{ html | json }}, "aria_label": {{ aria_label | default: 'Click Me' | json }}, "type":
{{ type | default: 'button' | json }}, "class":
{{ class | default: '' | json -}}
{%- if detail -%}
  , "detail": {{ detail -}}
{%- endif %}
{% endprops %}

<a
  {% if href %}
    href="{{ href }}"
  {% endif %}
  class="block {{ class }}"
  {% if aria_label %}
    aria-label="{{ aria_label }}"
  {% endif %}
>
  {{ html }}
</a>
