{% props %} "href": {{ href | default: '#' | json }}, "namespace": {{ namespace | default: 'event-trigger' | json }},
"event": {{ event | default: 'click' | json }}, "html": {{ html | json }}, "aria_label":
{{ aria_label | default: 'Click Me' | json }}, "type": {{ type | default: 'button' | json }}, "class":
{{ class | default: '' | json -}}
{%- if details -%}
  , "details": {{ details -}}
{%- endif %}
{% endprops %}

<a href="{{ href }}" class="{{ class }}" aria-label="{{ aria_label }}">
  {{ html }}
</a>
